[Unit]
Description=User resume actions
After=suspend.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/dbernheisel/dotfiles/bin/reset_keyrate.sh

[Install]
WantedBy=suspend.target
